---
- hosts: localhost
  gather_facts: no

  roles:
    - role: "avinetworks.avisdk"

  tasks:

    - name: Set variable avi_credentials
      set_fact:
        avi_credentials: >
          {'api_version': "{{ avi_version }}",
           'controller': "{{ controller.mgmt_ips.0 }}",
           'password': "{{ avi_password }}",
           'username': "admin"}
      tags:
        - creds
      when:
        - avi_version is defined
        - controller.mgmt_ips is defined
        - avi_password is defined

    - name: Update user admin password
      community.network.avi_useraccount:
        controller: "{{ avi_credentials.controller }}"
        username: "{{ avi_credentials.username }}"
        password: "{{ avi_credentials.password }}"
        old_password: 58NFaGDJm(PJH0G
        api_version: "{{ avi_credentials.api_version }}"
      ignore_errors: yes
      tags:
        - creds

    - name: Get main Cluster Information
      community.network.avi_api_session:
        avi_credentials: "{{ avi_credentials }}"
        http_method: get
        path: cluster
      register: clusterInfo
      tags:
        - cluster

    - name: Configure Cluster object with ClusterIP
      community.network.avi_cluster:
        avi_credentials: "{{ avi_credentials }}"
        api_version: "{{ avi_credentials.api_version }}"
        nodes:
          - name: "{{ controller.mgmt_ips.0 }}"
            ip:
              type: V4
              addr: "{{ controller.mgmt_ips.0 }}"
          - name: "{{ controller.mgmt_ips.1 }}"
            ip:
              type: V4
              addr: "{{ controller.mgmt_ips.1 }}"
          - name: "{{ controller.mgmt_ips.2 }}"
            ip:
              type: V4
              addr: "{{ controller.mgmt_ips.2 }}"
        name: cluster-0-1
        uuid: "{{ clusterInfo['obj'].uuid }}"
        virtual_ip:
          addr: "{{ controller.floating_ip }}"
          type: V4
      when:
        - controller.mgmt_ips | length == 3
        - controller.floating_ip is defined
      tags:
        - cluster

    - name: Configure Cluster object without ClusterIP
      community.network.avi_cluster:
        avi_credentials: "{{ avi_credentials }}"
        api_version: "{{ avi_credentials.api_version }}"
        nodes:
          - name: "{{ controller.mgmt_ips.0 }}"
            ip:
              type: V4
              addr: "{{ controller.mgmt_ips.0 }}"
          - name: "{{ controller.mgmt_ips.1 }}"
            ip:
              type: V4
              addr: "{{ controller.mgmt_ips.1 }}"
          - name: "{{ controller.mgmt_ips.2 }}"
            ip:
              type: V4
              addr: "{{ controller.mgmt_ips.2 }}"
        name: cluster-0-1
        uuid: "{{ clusterInfo['obj'].uuid }}"
      when:
        - controller.mgmt_ips | length == 3
        - controller.floating_ip is not defined
      tags:
        - cluster

    - name: "Wait for Controller to be up..."
      uri:
        url: '{{ "https://" + controller.mgmt_ips.0 + "/api/cluster/runtime" }}'
        return_content: "yes"
        validate_certs: "no"
      delegate_to: "localhost"
      register: result
      until: "result.content.find('CLUSTER_UP') != -1"
      retries: 30
      delay: 30
      tags:
        - cluster

    - name: Wait for the Controller cluster to finish - if cluster has been configured
      community.network.avi_api_session:
        avi_credentials: "{{ avi_credentials }}"
        api_version: "{{ avi_credentials.api_version }}"
        http_method: get
        timeout: 300
        path: cluster/status
      register: cluster_status
      ignore_errors: yes
      until:
        - cluster_status.obj.cluster_state.state == "CLUSTER_UP_HA_ACTIVE"
        - cluster_status.obj.node_states.0.state == "CLUSTER_ACTIVE"
        - cluster_status.obj.node_states.1.state == "CLUSTER_ACTIVE"
        - cluster_status.obj.node_states.2.state == "CLUSTER_ACTIVE"
      retries: 120
      delay: 10
      when:
        - controller.mgmt_ips | length == 3
      tags:
        - cluster